.git/
.github/
.pytest_cache
.venv
.vscode
.dockerignore
.env
.env.j2
.env.template
.gitignore
.gitpod.yml
Dockerfile
poetry.lock
provision-vm-inventory
provision-vm.yml
README.md
todoapp.service
**/__pycache__/